@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Excalifont";
  src: url('../public/Excalifont-Regular.woff2') format('woff2');
}


body {
  font-family: "Excalifont", "sans-serif";
  src: url('../public/Excalifont-Regular.woff2') format('woff2');
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif, Helvetica, sans-serif; */
}
